@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Roboto:wght@100;400;700&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-align: center; 
}

ul li {
    padding-left: 100px;
    margin-right: 120px;
    margin-top: 15px;
}

ul li a:hover {
    color: rgb(182, 202, 255);
}


a {
    text-decoration: none;
    color: rgb(129, 162, 255);
}

section {
    display: flex;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

h1, h2, h3 {
    font-size: 80px;
    margin-left: 40px;
    color: rgb(182, 202, 255);
    font-family: 'Lato', sans-serif;
}

h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(129, 162, 255);
    box-shadow: 7px 7px 1px rgb(193, 210, 255);
    padding: 5px;
}

h4 {
    font-size: 40px;
    margin-left: 80px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 4px grey;
}

p {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

footer {
    background-color: rgb(34, 34, 34);
    padding-bottom: 20px;
    width: 100%;
    color: rgb(146, 146, 146);
    padding-left: 5px;
}

.fondo {
    background-color: rgb(129, 162, 255);
    color: white;
}

.logo {
    margin-right: 1200px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compu {
    margin-left: 500px;
    width: 45vh;
}

.redes {
    margin-left: 30px;
}

.fuente {
    font-family: 'Lato', sans-serif;
}

.tituloh5 {
    font-weight: 700;
    font-size: 40px;
    border-bottom: solid 2px;
    padding-top: 20px;
}

.padding {
    padding: 0px 150px; 
}

.padding-bottom {
    padding-bottom: 40px;
}

.padding-bottom2 {
    margin-bottom: 100px;
}

.transicion {
    width: 200px;
    height: 200px;
    background-color: #fff;
    transition: all 0.5s;
}
.transicion:hover {
    width: 20%;
    transform: scale(2, 0.7);
    background-color: red;
}

.desafio {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(315deg, #0084ff 0%, #ffffff 74%);
    margin-bottom: 50px;
}

.desafio2 {
    width: 200px;
    height: 200px;
    background-image: radial-gradient(#fff, #0084ff);
}

.caja-animada {
    width: 200px;
    height: 200px;
    background-color: #fff;
    animation-name: caja;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-timing-function: cubic-bezier(); */
}

@keyframes caja {
    0% {
        transform: translate (0px);
    }       
    30% {
        transform: translateX(-100px) scale(0.5);
        background-color: rgb(0, 26, 255);
    }
    80% {
        transform: translateX(100px) scale(0.5);
        background-color: rgb(0, 26, 255);
    }
    100% {
        transform: translate (0px);
    }
}